'menu': [{
  label: 'Packages'
  submenu: [
    label: 'Language Arma Atom',
    submenu: [
        { label: 'Build Dev', command: 'language-arma-atom-dev:build-dev' },
        { label: 'Build Release', command: 'language-arma-atom-dev:build-release' },
        { label: 'Open Latest RPT File', command: 'language-arma-atom-dev:open-latest-RPT-file' },
    ]
  ]
}]
